*{
    background-color: var(--grey-color);
}


:root{
    --grey-color: #f4f4f4;     /*Color Gris para fondo */
    --black-color: #000000;   /**/
    --purple-color: #683dc3;  /**/
    --orange-color: #ff7432;  /**/
    --green-color: #0cba7e;   /**/
    --pink-color: #ffb3d7;    /**/
}
.container{
    flex: 4;
}
.LogoVilaMenuPage{
    height:150px ;
    width: 200px ;
}
.buttonsmenu{
    display: flex;
    justify-content: center;

}
.button{
    border:  var(--purple-color) 5px solid;
    padding: 40px;
    border-radius: 50%;
    cursor: pointer;
    width: 250px;
}
.iconoEncuesta{
    height: 150px;
    width: 150px;
}
.line{
    width: 100%;
    height: 2px;
    background: var(--purple-color);
    margin-top: 20px;
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;

}
.titulosBotones{

}

.LogoVilaMenuPage{

}
.contenedorLogos{
    display: flex;
    justify-content: center;


}

.imgAju{
    padding: 10px;
    width: 50%;
    margin-top: 13px;
}
.imgAgenda{
    padding: 10px;
    width: 30%;
    margin-left: 26px;

}
.imgFoment{
    padding: 10px;
    width: 50%;
    margin-top: 13px;
}