body{
    margin: 0;
    padding: 0;
}

.containerestadisticas{
    position: fixed;
    margin: 0 0 0 302px;
    background: var(--grey-color);
    box-shadow: 2px 0px #E0E0E0;
    height: 260px;
    width: 100%;
}
.containerbotones{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 302px;
    background-color: var(--grey-color);
    align-items: center;
    justify-content: center;
    height: 260px;

}
.botones{
    background-color: transparent;
    text-decoration: none;
    font-family: "arial";
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 400;
    padding: 16px;
    cursor: pointer;
    border-radius: 5%;
    width: 166px;
    border: 2px solid #a6a6a6;
    box-shadow: 2px 2px #c9c9c9;
}
.botonfiltro{
    width: 30px;
    height: 30px;
    padding-right: 20px;
}

.botonfiltro a:hover{
    color: #fff;
    margin-left: 20px;
    transition: 0.4s;
}

.containergrafica{

}

