body{
    margin: 0;
    padding: 0;
}

.sidebar{
    position: fixed;
    width: 250px;
    top:0;
    left: 0;
    bottom: 0;
    background: #61dafb;
    border-right: 5px solid gray;
    height: 100vh;
}
.linea{
   /* border-right: 5px solid gray;
    height: 100vh;
    position: absolute;
    top: 0;*/

}
.vila{
    height: 150px;
    width: 220px;
    display: block;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
}
.containerButton{
    display: block;
    padding: 10px 20px;

}
button{
    text-decoration: none;
    font-family: "arial";
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    display: flex;
    align-items: center;

}
.home{
    width: 30px;
    height: 30px;
}

.sidebar a:hover{
    color: #fff;
    margin-left: 20px;
    transition: 0.4s;
}

